.nav {
  &__button {
    background-color: #5137f3;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;

    width: 25rem;
    height: 15rem;
    border: none;
    font-family: inherit;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;

    &:hover {
      background-color: #4329f1;
    }
    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;

    background-size: cover;

    &-world {
      background-image: url("../../assets/icons/planet-earth.svg");
    }
    &-statistics {
      background-image: url("../../assets/icons/bar-chart.svg");
    }
  }
  &__text {
    font-size: 2rem;

    text-align: left;
    width: 50%;
    padding: 1rem;
  }
}
