//COUNTRY CONTAINER

.countries {
  grid-column: center-start/center-end;
  grid-row: 3 / span 1;

  display: grid;
  grid-template-rows: 10rem min-content 10rem;
  row-gap: 2rem;
  padding: 5rem;

  &__container {
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    gap: 3rem;

    justify-content: center;
    align-content: center;
  }
  &__filter {
    background-color: red;
  }
  &__pages {
    background-color: yellowgreen;
  }
}

//COUNTRY CARD

.card {
  position: relative;
  width: 35rem;
  height: 20rem;

  overflow: hidden;
  border-radius: 5px;
  background-color: white;

  margin: auto;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;

  &__heading {
    padding: 0.5rem;

    font-size: 1.2rem;
    background-color: rgba(80, 55, 243, 0.8);
    color: white;

    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 4;

    transition: 0.3s;
  }

  &__flag {
    height: 100%;
    width: 100%;
    object-fit: cover;

    position: absolute;
    left: 0;
    z-index: 3;

    transition: 0.3s;
  }
  &__content {
    position: absolute;
    left: 100%;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    height: 100%;

    text-align: left;

    transition: 0.3s;
    font-size: 1.5rem;
    &__info {
      flex-basis: 100%;
      font-weight: 700;
      color: #5137f3;
      i {
        color: black;
        font-style: unset;
      }
    }
  }

  &:hover &__content {
    left: 10%;
  }
  &:hover &__flag {
    left: -97%;
  }
  &:hover &__heading {
    opacity: 0.05;
  }
}
