.app {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(10, minmax(min-content, 14rem))
    [center-end] 1fr [full-end];
  grid-template-rows: 5rem 70vh min-content 5rem;

  position: relative;

  &__background {
    position: absolute;
    background-image: linear-gradient(
      204.81deg,
      #04040a 5.25%,
      #202022 42.22%,
      #2f2f30 104.42%,
      #04040a 132.08%
    );

    grid-column: center-start/center-end;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
  }
}
