* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --color-purple: #5137f3;
  --color-orange: #ff5d3d;
  --color-purple-dark: #3f2db1;
  --color-orange-dark: #be3216;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  line-height: 1.6;
  background-color: rgb(230, 230, 230);
}
